<p>pizza-list works!</p>


<h2>Pizzas!</h2>
<ul class="ecipes">
  <div class="row">
    <li *ngFor="let pizza of pizzas">
      <div class="card">
        <img class="card-img-top" src={{pizza.image}} alt="Italian Trulli">
        <div class="card-body">
          <h5 class="card-title">{{pizza.name}}</h5>
          <p>description: {{pizza.description}}</p>
          <a [routerLink]="[pizza.id]" routerLinkActive="router-link-active"><button class= "btn btn-info"> Details  </button></a>
          <button class="btn btn-danger" (click)="delete(pizza!.id)">Delete pizza</button>
        </div>
      </div>
    </li>
  </div>
</ul>