<h2>{{currentPizza!.name}}</h2>
<p>{{currentPizza!.description}}</p>
<p>{{currentPizza!.name}}</p>
<p>Saus: {{currentPizza!.sauce}}</p>
<p>Toppings: {{currentPizza!.toppings}}</p>
<p>Cooking Time: {{currentPizza!.cookingTime}}</p>
<p>Vegan: {{currentPizza!.vegan === true ? 'Ja' : 'Nee'}}</p>

<a [routerLink]="['edit']" routerLinkActive="router-link-active"><button class="btn btn-warning">Edit pizza</button></a>
