<h2>Recipes!</h2>
<ul class="ecipes">
  <div class="row">
    <li *ngFor="let recipe of recipes">
      <div class="card">
        <img class="card-img-top" src={{recipe.image}} alt="Italian Trulli">
        <div class="card-body">
          <h5 class="card-title">{{recipe.name}}</h5>
          <p>description: {{recipe.description}}</p>
          <p>Cooking time: {{recipe.cookingTime}} min</p>
          <p>Vegan: {{recipe.vegan == true ? "yes": "no"}}</p>
          <p>servings: {{recipe.serving}}</p>
          <p>published: {{recipe.published}}</p>
          <button class= "btn btn-info">Details</button>
        </div>
      </div>
    </li>
  </div>
</ul>