<h2>Editing the pizza</h2>


<div>
  <label for="user-name">Pizza name: </label><br>
  <input id="user-name" [(ngModel)]="currentPizza!.name" placeholder="name">
</div>
<div>
  <label for="user-name">Image(Url): </label><br>
  <input id="user-email" [(ngModel)]="currentPizza!.image" placeholder="url">
</div>
<div>
    <label for="user-name">Description: </label><br>
    <input id="user-email" [(ngModel)]="currentPizza!.description" placeholder="Description">
  </div>
  <div>
    <label for="user-name">Sauce: </label><br>
    <input id="user-email" [(ngModel)]="currentPizza!.sauce" placeholder="Sauce">
  </div>
  <div>
    <label for="user-name">toppings: </label><br>
    <input id="user-email" [(ngModel)]="currentPizza!.toppings" placeholder="Toppings">
  </div>
  <div>
    <label for="user-name">Cooking time (in minutes): </label><br>
    <input id="user-email" [(ngModel)]="currentPizza!.cookingTime" placeholder="Cooking time">
  </div>
  <div>
      <p>Is this piza vegan?</p>
    <label>
        <input type="checkbox" name="isActive"  [(ngModel)]="currentPizza!.vegan">
        Is Vegan
      </label>
    <!-- <mat-radio-group label="Select an option" name="membership" [(ngModel)]="currentPizza!.vegan">
        <mat-radio-button [value]=true color="primary">Yes</mat-radio-button>
        <br>
        <mat-radio-button [value]=false color="primary">No</mat-radio-button>
    </mat-radio-group> -->
  </div>